/* General */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: 0 !important;
    text-decoration: none !important;
}
:root{
    --main-color: #ee8b00;
    --bg:#2f3640;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
a.anchor {
    display: block; 
    position: relative; 
    top: -80px; 
    visibility: hidden;
}
/* Scrollbar */
::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2;
}
/* Scrollbar */

/* General */

/* Section heading */
.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem !important;
    padding: 3vh 0%;
}
.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}
/* Section heading */

/* Navbar top */
.navbar-top {
    display: flex;
    background-color: var(--bg);
    height: 10vh;
    min-height: 65px;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 38px;

    transition: 0.2s;
} .navbar-scrolled {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    height: 8.5vh;
    min-height: 65px;
    position: fixed;
    z-index: 999;
    transition: 0.2s;
}
.top-bar {
	transition: 0.2s ease;
	z-index: 9999;
	display: flex; 
	align-items: center;
    justify-content: center;
	position: fixed;
	width: 100%;
	background-color: #131212;
	color: #fff;
} .top-bar .contact-card {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 38px;
    font-size: 9pt;
	align-items: center;
} .top-bar .contact-card i {
	margin-right: 2%;
} .top-bar .contact-card p {
	margin: 0;
	padding: 0;
	margin-left: 5px;
}
.contact-card a {
    color: white;
    transition: .3s ease;
}
.contact-card a:hover {
    color: var(--main-color);
}
/* Navbar top */

/* Menu */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 2%;
    z-index: 9999;
    transition: .3s linear;
    height: 10vh;
}
.logo img {
    height: 9vh;
    width: auto;
}
.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 1000;
    display: none;
}
.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}
.navbar-menu a{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}
.navbar-menu a:hover{
    color: var(--main-color); 
}
.menu-toggler {
    background: none;
    width: 30px;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}
.menu-toggler:focus {
    outline: 0;
}
.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}
.menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
}
.menu-toggler.active span:nth-child(2){
    opacity: 0;
}
.menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
}
/* Menu */

/* Main - carousel */
.main-carousel {
    height: 90vh;
    margin-top: calc(9vh + 38px);
    background-color: var(--bg);
}
.flickity-prev-next-button {
    width: 44px;
    height: 44px;
    transition: .2s ease-in;
} 
.flickity-prev-next-button:hover {
    color: var(--main-color);
}
.carousel-cell {
    padding: 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 10pt;
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
} 
.carousel-cell.is-selected {
    opacity: 1;
    z-index: 0;
} 
.carousel-cell p {
    font-size: 16pt;
    width: 70%;
    line-height: 35px;
    color: #fff;
    text-align: center;
} 
.carousel-cell h2 {
    color: var(--main-color);
    font-weight: bold;
}
.flickity-page-dots {
    display: none;
}
.testimonial-icon {
    color: #fff;
    font-size: 64pt;
    padding: 1% 0;
}
.flickity-slider {
    height: 90vh;
}
/* Main - carousel */

/* Informations */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3.5vh;
    background-color: var(--bg);
    color: #fff;
} .wrapper .card-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
} .wrapper h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
.wrapper p {
    font-size: 19px;
    color: lightgray;
}
.meta-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 3%;
    width: 50%;
    cursor: pointer;
    transition: .2s ease-in;
} 
.meta-card i {
    font-size: 36pt;
    margin-bottom: 10%;
    /* color: #fff; */
} 
.meta-card h4 {
    font-size: 15pt;
    /* color: rgb(109, 109, 109); */
} 
.meta-card img {
    width: 100px;
    margin-bottom: 10%;
}
.meta-card:hover {
    transform: scale(1.05);
    background: var(--main-color);
}
.offer-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    top: 8vh;
    padding: 2%;
    font-size: 1rem;
    background-color: white;
    position: fixed;
    right: -100%;
    transition: .3s ease-in-out;
    z-index: 998;
    bottom: 0;
    overflow: auto;
}
.offer-slider-content{
    width: 50%;
    text-align: justify;
}
.offer-slider-content h2 {
    font-size: 28px;
}
.offer-slider-image {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.offer-slider img{
    border-radius: 100%;
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.offer-slider-disable {
    transition: .3s;
    transition-delay: .4s;
    position: absolute;
    top: 2vh;
    margin-right: 1%;
    right: 0;
    cursor: pointer;
}
.active2 {
    right: 0;
}
.button-active {
    opacity: 1 !important;
}
.offer-slider-text {
    display: none;
}
.offer-slider-question {
    cursor: pointer;
    color: var(--main-color);
}
/* Informations */

/* Blog */
.products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}
.products-wrapper h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size:35px;
}
.products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}
.news-card {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
    width: 100%;
    background-color: var(--bg);
    margin-bottom: 3%;
} 
.news-card-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 3%;
}
.read-more {
    color: white;
    background-color: var(--main-color);
    border: none;
    transition: 0.2s ease-in !important;
    width: 120px;
}
.read-more:hover {
    background-color: #e9a74b !important;
    width: 140px;
}
.blog-title {
    color: white !important;
    transition: .2s ease-in;
}
.blog-title:hover {
    color: var(--main-color);
}
.blog-category{
    color: red !important;
    cursor: pointer;
    transition: .2s;
}
.blog-category:hover {
    opacity: 0.8;
}
/* Blog */

/* Gallery */
.gallery-carousel {
    width: 25%;
    height: 65vh;
}
#gallery {
    background-color: var(--bg);
}
.gallery-content img {
    margin: 1% 1%;
    cursor: pointer;
    width: 22.7%;
    transition: 0.6s ease-in-out;
    filter: grayscale(100%);
    background: none !important;
}
.gallery-content img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}
.gallery-btn {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    transition: .3s ease-in-out;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.gallery-btn:hover {
    background-color: var(--main-color);
    color: white;
}
/* Gallery */

/* Contact */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact-section h2 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 35px;
}
.opening-hours {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0% 2%;
    margin-bottom: 1%;
    font-size: 15px;
    text-align: center;
}
.opening-hours p{
    margin-left: 1%;
    margin-right: 1%;
    color: grey;
    margin-bottom: 0;
}
.contact-info {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.map {
    width: 80%;
    height: 600px;
    display: block;
}
.contact-cards {
    height: 600px;
    width: 20%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    font-size: 18px;
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: none;
    border-radius: 0;
    flex-wrap: wrap;
}
.card:hover .card-icon{
    background: none;
    color: var(--main-color);
    transform: scale(1.6);
}
.card p{
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    max-height: 0;
    transition: 0.3s linear;
}
.card-icon {
    font-size: 28px;
    background: var(--main-color);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}
.card a {
    color: black;
}
/* Contact */  

/* Footer */
footer {
    background-color: #131212;
}
footer .triple {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    color: #fff;
    padding: 1em;
}
footer .triple div {
    width: 100%;
}
footer .triple div h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin-top: 1em;
}
footer .triple div p {
    font-weight: 600;
    color: rgba(255,255,255,0.6);
    font-size: 10pt;
    margin: auto;
}
.fb {
    margin-top: 1em;
}
footer .copyright {
    display: block;
    width: 80%;
    text-align: center;
    padding: 0.5em 0;
    margin: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.25);
}
footer .triple #address, footer .triple #hours {
    display: none;
}
footer a {
    color: #fff;
    transition: 0.2s;
} 
footer a:hover {
    text-decoration: none;
    color: var(--main-color);
} 
/* Footer */

/* Go to top button */
#go2Top {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    line-height: 40px;
    transition-duration: 0.6s;
    display: flex;
    justify-content: center;
    opacity: 0;
}
#go2Top:hover {
    line-height: 20px !important;
}
/* Go to top button */
  
/* Article page */

/* Article-site */
.articleholder {
    margin: auto;
    padding: 6%; 
    margin-top: 22vh;
    margin-bottom: 6vh;
    width: 70vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    text-align: justify;
    align-items: center; 
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.589);
    
}
.article-holder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120.5%;
    height: 60vh;
    margin-bottom: 4%;
    margin-top: 4%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.title-article {
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-size: 55px;
}
.articleholder img {
    margin-top: 4%;
    height: 20vh !important;
    width: auto !important;
}
/* Article page */
/* Pricing */
.pricing-regular {
    padding-top: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    flex-direction: column;
}
.divTable{
    margin: 2% 0%;
	display: table;
	width: 70%;
    color: white;
}
.divTableRow {
	display: table-row;
    border-bottom: 2px solid white;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
    text-transform: uppercase;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.pricing-heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem !important;
    padding: 1% 0%;
}
.pricing-heading span {
    color: var(--main-color);
    text-transform: uppercase;
}
.table-heading {
    color: var(--main-color);
}
.table-pricing {
    color: lightgray;
}
/* Pricing */
/* Kids */
.meta-card-kids {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 3%;
    width: 33%;
    cursor: pointer;
    transition: .2s ease-in;
}
.meta-card-kids h4 {
    font-size: 15pt;
    /* color: rgb(109, 109, 109); */
} 
.meta-card-kids img {
    height: 35vh;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10%;
}
.kids-section-text {
    width: 60%;
}
/* Kids */